<div id="register" class="col-md-6 offset-md-3">
  <!-- form card register -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Registro</h3>
    </div>
    <div class="card-body">

      <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msg">
        <a class="close" (click)="closeAlert()">
          &times;
        </a>
        <h6>{{msg}}</h6>
      </div>

      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Nombres*</label>
          <input class="form-control" type="text" formControlName="nombres" id="nombres" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }"
            placeholder="Ingrese los Nombres">
          <span class="focus-input100">
            <div *ngIf="submitted && f.nombres.errors">
              <div *ngIf="f.nombres.errors.required"> <label id="error">Los nombres son requeridos </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="inputEmail3">Usuario*</label>
          <input class="form-control" type="email" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            placeholder="Ingrese el usuario">
          <span class="focus-input100">
            <div *ngIf="submitted && f.email.errors">
              <div *ngIf="f.email.errors.required"> <label id="error">El usuario es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="inputPassword3">Contraseña*</label>
          <input class="form-control" type="password" formControlName="pass" id="pass" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"
            placeholder="Ingrese la contraseña">
          <span class="focus-input100">
            <div *ngIf="submitted && f.pass.errors">
              <div *ngIf="f.pass.errors.required"> <label id="error">La contraseña es requerida </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Telefono*</label>
          <input class="form-control" type="number" formControlName="telefono" id="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
            placeholder="Ingrese el telefono">
          <span class="focus-input100">
            <div *ngIf="submitted && f.telefono.errors">
              <div *ngIf="f.telefono.errors.required"> <label id="error">El telefono es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Direccion*</label>
          <input class="form-control" type="text" formControlName="direccion" id="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }"
            placeholder="Ingrese la direccion">
          <span class="focus-input100">
            <div *ngIf="submitted && f.direccion.errors">
              <div *ngIf="f.direccion.errors.required"> <label id="error">La direccion es requerida </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Rol*</label>
          <select class="form-control" formControlName="rol" id="rol" [ngClass]="{ 'is-invalid': submitted && f.rol.errors }">
            <option value="1">Administrador</option>
            <option value="2">Cliente</option>
          </select>
          <span class="focus-input100">
            <div *ngIf="submitted && f.rol.errors">
              <div *ngIf="f.rol.errors.required"> <label id="error">El rol es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <a href="" class="btn btn-danger btn-lg float-right">Volver</a>
          <button type="submit" class="btn btn-success btn-lg float-right">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /form card register -->
</div>